/*#main{*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background-color: red;*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    left: 130px;*/
/*}*/

div{
    width: 100px;
    height: 100px;
}
.div1{
    background-color: red;
    /*position: relative;*/
    /*left: 200px;*/
}
.div2{
    background-color: aqua;
    /*position: relative;*/
    /*left: 200px;*/
}
.div3{
    background-color:blue;
    /*position: relative;*/
    /*left: 200px;*/
}
.div4{
    background-color:blueviolet;
    /*position: relative;*/
    /*left: 200px;*/
}
.main {
    left: 100px;
    color: yellow;
    position: relative;

}